:root
{
  --skip-replay: "../public/images/skillreplay/";
}

@font-face {
  font-family: 'Rubik';
  src: url('./Font/RubikNorm.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('./Font/Rubik-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Leixo';
  src: url('./Font/Leixo.ttf') format('truetype');
}

body {
  font-family: Rubik, sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: white;
}

.BGImage {
  width: 1920px;
  height: 1080px;
  /*background: black;*/
  background: url("../public/images/Background.png") no-repeat;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: -100000;
}

.FadeIn {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.SmoothWidth {
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.F500 {
  font-weight: 500;
}

.F700 {
  font-weight: 700;
}

.White {
  color: white;
}

.Txt13 {
  font-size: 13px;
}

.Txt15 {
  font-size: 15px;
}

.Txt20 {
  font-size: 20px;
}

.W340 {
  width: 340px;
  max-width: 340px;
}

.Fade {
  overflow: hidden;
  white-space: nowrap;
  mask-image: linear-gradient(90deg, #000 90%, transparent);
}

.ScoringShadow {
  text-shadow: 2px 7px 11px rgba(0, 0, 0, 1);
}

/* Background */
.Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  background: #5d5d5d;
  opacity: 1;
  z-index: -100000;
}

/* PlayerContainers */

.PlayerContainers {
  font-family: Rubik, sans-serif;
  position: absolute;
  top: 0;
  height: 17%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease-in;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), #000000, rgba(255, 255, 255, 0));
}

.LogoSpot {
  top: 5px;
  width: 172px;
  height: 172px;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  background: url("../public/images/Logo.png") no-repeat;
  background-size: max(172px, 172px);
  position: absolute;
  left: 874px;
}

.Logo
{
  width: 100%;
  height: 100%;
}

.Player1Container, .Player2Container {
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 2px;
  color: white;
  font-family: "Inter Semi Bold", sans-serif;
  text-transform: capitalize;
  font-size: 72px;
  font-weight: bold;
}

.Player1Score, .Player1Name, .Player2Score, .Player2Name {
  height: 91px;
  display: flex;
  align-items: center;
  max-width: 512px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Player1Container {
  right: 56%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.imageContainer1 {
  position: relative;
  transform: skewY(4.5deg);
  rotate: -4.5deg;
  right: 0;
}

.Player1Image {
  width: auto;
  height: 140px;
  background: #EA2020 border-box;
  border: 3px solid transparent;
  border-radius: 15px;
  margin-right: 6px;
  margin-top: 20px;
}

.Player1Score {
  background-color: #C11111;
  border-color: transparent;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 8px 0 0 8px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  z-index: 5;
  transform: skewY(4.5deg);
  rotate: -4.5deg;
}

/*TODO: Account for long names*/
.Player1Name {
  background-color: #EA2020;
  margin-right: 18px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 0 8px 8px 0;
  z-index: 5;
  transform: skewY(4.5deg);
  rotate: -4.5deg;
}

#Player1ReplayBase{
  margin-right: 26px;
  width: 60px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../public/images/skillreplay/L_NoReplay.svg") no-repeat;
}

.Player1ReplayBase {
  padding-left: 5px;
  padding-right: 5px;
  background: transparent;
  color: white;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 4;
}

.Player1ReplayText {
  text-align: center;
  color: white;
  opacity: 1;
  border-bottom-left-radius: 8px;
  background-color: rgb(22, 23, 36);
  font-size: 16px;
  padding: 0px 8px;
  width: auto;
  transition: all 0.5s ease-in-out;
}

.Player1Goal {
  opacity: 0;
  padding-left: 13px;
  padding-right: 13px;
  background: #4D5386;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 3;
  border-radius: 8px 0 0 0;
  text-wrap: nowrap;
}

.Player2Container {
  left: 56%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.imageContainer2 {
  position: relative;
  transform: skewY(-4.5deg);
  rotate: 4.5deg;
  left: 0;
}

.Player2Image {
  width: auto;
  height: 140px;
  background: #037EDA border-box;
  border: 3px solid transparent;
  border-radius: 15px;
  margin-left: 6px;
  margin-top: 20px;
}

.Player2Name {
  background-color: #037EDA;
  margin-left: 18px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 8px 0 0 8px;
  z-index: 5;
  transform: skewY(-4.5deg);
  rotate: 4.5deg;
}

.Player2Score {
  background-color: #1367A5;
  border-color: transparent;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 0 8px 8px 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  z-index: 5;
  transform: skewY(-4.5deg);
  rotate: 4.5deg;
}

#Player2ReplayBase{
  margin-left: 26px;
  width: 60px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../public/images/skillreplay/R_NoReplay.svg") no-repeat;
}

.Player2ReplayBase {
  padding-left: 5px;
  padding-right: 5px;
  background: transparent;
  color: white;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 4;
}

.Player2ReplayText {
  text-align: center;
  color: white;
  opacity: 1;
  border-bottom-right-radius: 8px;
  background-color: rgb(22, 23, 36);
  font-size: 16px;
  padding: 0px 6px 0px 8px;
  width: auto;
  transition: all 0.5s ease-in-out;
}

.Player2Goal {
  opacity: 0;
  padding-left: 13px;
  padding-right: 13px;
  background: #4D5386;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 3;
  border-radius: 0 8px 0 0;
  white-space: nowrap;
}

/* Dividing line */
.divLine {
  position: absolute;
  top: 166px;
  width: 100%;
  height: 0px;
  background: linear-gradient(90deg, #f6d16a 50%, #d91e36 50%);
}

.buttonsChooseMatch {
  position: absolute;
  top: 166px;
  right: 0;
  height: inherit;
  width: 20%;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: scroll; /* Ensure content does not overflow */
  z-index: 100001;
}

.MatchSelection {
  max-height: 100%; /* Limit height to the parent element */
  max-width: 100%;  /* Limit width to the parent element */
  overflow: auto;   /* Add scrollbars if content exceeds the bounds */
}

/* control buttons */
.chooseMatch {
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: inherit;
  width: 20%;
  background: transparent;
  border: transparent;
  z-index: 100000;
}

.MuteButton {
  position: absolute;
  left: 0;
  top: 0;
  height: inherit;
  width: 20%;
  background: transparent;
  border: transparent;
  z-index: 100000;
}

.videoContainer {
  display: flex;
  width: 100%;
  height: 67%;
  position: absolute;
  top: 17%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#player1Video,
#player2Video {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}

/* Bottom bar*/
.BottomBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Score Bounds | FC, Combo, ACC */

.PlayerBounds {
  gap: 10px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Player1Class {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  width: 200px;
}

.Player1FC {
  line-height: 0px;
  margin: 0px;
  padding-bottom: 36px;
  font-size: 32px;
  font-weight: 900;
}

.Player1ACC {
  line-height: 0px;
  margin: 0px;
  padding-bottom: 47px;
  font-size: 48px;
  font-weight: 900;
}

.Player1Combo {
  line-height: 0px;
  margin: 0px;
  font-size: 32px;
  font-weight: 900;
}

.Player2Class {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  width: 200px;
}

.Player2FC {
  line-height: 0px;
  margin: 0px;
  padding-bottom: 36px;
  font-size: 32px;
  font-weight: 900;
}

.Player2ACC {
  line-height: 0px;
  margin: 0px;
  padding-bottom: 47px;
  font-size: 48px;
  font-weight: 900;
}

.Player2Combo {
  line-height: 0px;
  margin: 0px;
  font-size: 32px;
  font-weight: 900;
}

/* Tug Of War */

.TugOfWar {
  display: flex;
  opacity: 0;
  position: absolute;
  bottom: 15%;
}

.LeftTugOuter {
  direction: rtl;
  width: 960px;
  max-width: 960px;
}

.LeftTugInner {
  width: 0px;
  height: 10px;
  background-image: linear-gradient(90deg, rgb(248, 243, 107), rgba(223.12, 132.95, 132.95, 1));
}

.RightTugOuter {
  direction: ltr;
  width: 960px;
  max-width: 960px;
}

.RightTugInner {
  width: 0px;
  height: 10px;
  background-image: linear-gradient(-90deg, rgb(219, 30, 54), rgb(219, 30, 54));
}

/* Song Card */

#Song {
  position: absolute;
  height: 14%;
  width: 100%;
  bottom: 0;
  font-family: Rubik, sans-serif;
}

.SongCard {
  height: 134px;
  width: 512px;
  opacity: 1;
  position: absolute;
  bottom: 7px;
  right: 50px;
}

.SongName {
  position: absolute;
  top: -12px;
  left: 23px;
  font-size: 24.5px;
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%; /* Adjust the width as needed */
}

.SongBox {
  display: flex;
  position: relative;
  gap: 11px;
}

.SongCover {
  background: url('https://eu.cdn.beatsaver.com/cfcdbd060aabc0673f4950506b5170ce59d963bc.jpg') 50% 50% / cover;
  max-width: 114px;
  max-height: 114px;
  width: 116px;
  height: 116px;
  position: absolute;
  bottom: 10px;
  right: 15px;
  border-radius: 14px;
  flex-shrink: 0;
}

.SongBoxBG {
  position: absolute;
  right: 10px;
  background: url('https://eu.cdn.beatsaver.com/cfcdbd060aabc0673f4950506b5170ce59d963bc.jpg') 50% 50% / cover;
  width: 116px;
  height: 116px;
  border-radius: 15px;
  opacity: 1;
  transition: all 0.5s ease;
  margin: 4px;
}

.SongInfoLeft {
  margin-top: 32px;
  margin-left: 25px;
  font-size: 18px;
}

.SongMapper {
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 19ch;
  white-space: nowrap;
}

.UploadDate {
  position: relative;
  top: -12px;
  overflow: hidden;
  text-overflow: " ";
  max-width: 19ch;
  white-space: nowrap;
}

.SongInfoRight {
  position: absolute;
  top: 30px;
  right: 140px;
  text-align: right;
  font-size: 18px;
}

.SongArtist {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 8ch;
  white-space: nowrap;
}

.SongLength {
  color: white;
  font-size: 19px;
  margin-top: -13px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width:12ch;
  white-space: nowrap;
}

.MapKey {
  position: absolute;
  text-align: center;
  right: 140px;
  top: 84px;
  z-index: 100;
}

.SongPosition {
  position: absolute;
  top: 40%;
  left: 0;
  opacity: 0.5;
  z-index: 100;
  color:black;
  font-size: 300px;
}

#Player1SkipBase,
#Player1ReplayBase,
#Player2SkipBase,
#Player2ReplayBase {
  border: none;
}